<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>{{ text.title }}</title>
  </head>
  <body>
    <h1>{{ text.content }}</h1>
    <img src="{{ img.kitty }}" alt="" />
    <img src="{{ img.doggy }}" alt="" />
    <h1>Created by REND!</h1>
  </body>
</html>